.contactground-container {
    position: relative;
    isolation: isolate;
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    min-height: 100vh;
    background-image: url("https://res.cloudinary.com/dbleq6bwe/image/upload/v1743081072/w4aenrugzvmbhwqsesyi.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}